body {
    display: flex;
    background-color: rgb(172, 220, 239);
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
}

.main-section {
    display: flex;
    flex: 1;
    justify-content: end;
    /* align-items: end; */
    padding: 1.7rem;
    background-color: rgb(151, 198, 238);
}

.sound, .frontend, .estate, .consel {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0.4rem;
    padding: 2rem;
    border: 3px solid hwb(0 2%);
    border-radius: 0.5rem;
    max-height: fit-content;
    overflow: hidden;
}

.sound {
    background-color: rgb(161, 215, 138);
}

.frontend {
    background-color: aquamarine;
}

.estate {
    background-color: pink;
}

.consel {
    background-color: rgb(125, 125, 197);
}

.button-container {
    margin-left: auto;
    align-items: end;
}

button {
    border-radius: 0.2rem;
    border-style: none;
    padding: 2px 1rem;
    cursor: pointer;
    transition: color 0.3s;
    background-color: transparent;
    text-decoration: none; 
    color: rgb(16, 10, 10);
    font-family: Georgia, 'Times New Roman', serif;
}

button:hover {
    background-color: transparent;
    border-bottom: 1px solid rgb(9, 34, 64);
    color: rgb(4, 33, 63); 
}